header.m-page-head


    .m-page-head__item
        a.m-branding(href="/")
            img(src="http://placehold.it/40x40")
            img(src="http://placehold.it/120x120")


    .m-page-head__item
        nav#nav.m-site-nav(role="navigation")

            ul
                li#services-toggle
                    a.js-accordion(href="#") Services
                    ul#services
                        li
                            a(href="#") Service A
                        li
                            a(href="#") Service B
                        li
                            a(href="#") Service C

                li
                    a(href="#") About

                li
                    a(href="#") Contact


    .m-page-head__item
        a#nav-toggle(href="#")
            i.icon-menu
            span menu open/close