head

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title

    meta(name="description", content="")
    meta(name="viewport", content="width=device-width", initial-scale="1")

    link(rel="stylesheet", href="")
    link(rel="stylesheet", href="assets/css/prototype.css")
    link(rel="stylesheet", href="assets/css/style.css")