doctype
html.no-js.no-touchevents.touchevents(lang="en")
    include includes/_head

    body
        include includes/_header
        main(role="main")
            .o-wrapper
                .m-blog
                    .m-blog__item

                        article.m-article

                            header.m-article__header
                                h1.m-article__title
                                    a(href="#") Blog Article Title

                                .m-article__meta
                                    p Apirl 1, 2016

                                .m-article__content

                                    p
                                        a.m-article__read-more(href="")


                    .m-blog__sidebar

        include includes/_footer
        include includes/_js