doctype
html(lang="en")
    include includes/_head

    body.js-slide-left
        #skiplinks(role="navigation", aria-label="Skip links")
            a(href="#mainContent") Skip to content
            a(href="#siteNavigation") Skip to navigation
                    
        include includes/_header
        
        main(role="main" id="mainContent")
            
            include includes/_hero

            include includes/_titles

            include includes/_buttons

            include includes/_forms

        include includes/_footer
    include includes/_js
