doctype
html.no-js.no-touchevents.touchevents(lang="en")
    include includes/_head

    body
        include includes/_header
        main(role="main")
            .o-wrapper
                .m-blog.m-blog--single.o-layout
                    .m-blog__item.m-blog__item--single.o-layout__item

                        article.m-article.m-article--single

                            header.m-article__header.m-article__header--single
                                h1.m-article__title.m-article__title--single
                                    a(href="#") Blog Article Title

                                .m-article__meta.m-article__meta--single
                                    p Apirl 1, 2016

                                .m-article__content.m-article__content--single


                    .m-blog__sidebar.m-blog__sidebar--single.o-layout__item

        include includes/_footer
        include includes/_js