doctype
html.no-js.no-touchevents.touchevents(lang="en")
    include includes/_head

    body
        include includes/_header
        main(role="main")

        include includes/_footer
        include includes/_js