.o-wrapper(style="padding: 4rem 1rem 2rem; margin: 0; max-width: 800px;")
    .o-col.o-col--lg
        .o-col__item
            h2.m-title.m-title--primary Primay Title
            p Bacon ipsum dolor amet ham t-bone prosciutto frankfurter salami ribeye biltong. Venison swine drumstick chislic, bresaola boudin sirloin strip steak pork chop turducken ham jowl. Beef ribs rump ground round pancetta boudin frankfurter.
        .o-flex.o-flex--row-wrap
            div(class="o-col__item u-1/1 u-1/2@micro-xl")
                p 
                    a.m-btn.m-btn--primary(href="#") Primary Button
            div(class="o-col__item u-1/1 u-1/2@micro-xl")
                p 
                    a.m-btn.m-btn--secondary(href="#") Secondary Button



.m-band-invert
    .o-wrapper(style="padding: 4rem 1rem 2rem; margin: 0; max-width: 800px;")
        .o-col.o-col--lg
            .o-col__item.u-color-invert
                h2.m-title.m-title--primary Primay Title
                p Bacon ipsum dolor amet ham t-bone prosciutto frankfurter salami ribeye biltong. Venison swine drumstick chislic, bresaola boudin sirloin strip steak pork chop turducken ham jowl. Beef ribs rump ground round pancetta boudin frankfurter.
            .o-flex.o-flex--row-wrap
                div(class="o-col__item u-1/1 u-1/2@micro-xl")
                    p 
                        a.m-btn.m-btn--primary-invert(href="#") Primary Invert Button
                div(class="o-col__item u-1/1 u-1/2@micro-xl")
                    p 
                        a.m-btn.m-btn--secondary-invert(href="#") Secondary Invert Button
