footer.m-foot

    .m-foot__item.m-foot__item--alpha

    .m-foot__item.m-foot__item--beta

    .m-foot__item.m-foot__item--gamma

    .m-foot__item.m-foot__item--delta


    .m-foot__copyright.u-text-center
        p.u-fs-sm © 2018. All Rights Reserved.