.o-wrapper(style="padding: 4rem 1rem 2rem; margin: 0; max-width: 800px;")
    .o-wrapper.o-wrapper--micro-lg.u-m-a-r
        #gform_wrapper_1.gf_browser_chrome.gform_wrapper.gform_validation_error
            form#gform_1(method='post' enctype='multipart/form-data' action='/')
                .gform_heading
                h3.gform_title contact
                span.gform_description
                .validation_error There was a problem with your submission. Errors have been highlighted below.
                .gform_body
                ul#gform_fields_1.gform_fields.top_label.form_sublabel_below.description_below
                    li#field_1_2.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible
                    label.gfield_label(for='input_1_2') Name
                    .ginput_container.ginput_container_text
                        input#input_1_2.medium(name='input_2' type='text' value='' aria-invalid='false')
                    li#field_1_3.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible
                    label.gfield_label(for='input_1_3') Email
                    .ginput_container.ginput_container_email
                        input#input_1_3.medium(name='input_3' type='text' value='' aria-invalid='false')
                    li#field_1_4.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible
                    label.gfield_label(for='input_1_4') Phone
                    .ginput_container.ginput_container_phone
                        input#input_1_4.medium(name='input_4' type='text' value='' aria-invalid='false')
                    li#field_1_6.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible
                    label.gfield_label(for='input_1_6') Message
                    .ginput_container.ginput_container_textarea
                        textarea#input_1_6.textarea.medium(name='input_6' aria-invalid='false' rows='10' cols='50')
                    li#field_1_7.gfield.gfield_error.field_sublabel_below.field_description_below.gfield_visibility_visible
                    label.gfield_label(for='input_1_7') CAPTCHA
                    #input_1_7.ginput_container.ginput_recaptcha(data-sitekey='6LcsSLUaAAAAAER0DMwghLlBtwGYqHyd6bj8HlC_' data-theme='light' data-tabindex='0' data-badge='')
                        div(style='width: 304px; height: 78px;')
                        div
                            iframe(title='reCAPTCHA' src='https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LcsSLUaAAAAAER0DMwghLlBtwGYqHyd6bj8HlC_&co=aHR0cHM6Ly93d3cubWJpbW90b3JzLmNvbTo0NDM.&hl=en&v=dpzVjBAupwRfx3UzvXRnnAKb&theme=light&size=normal&cb=ttmgv1ckymz9' width='304' height='78' role='presentation' name='a-mzs09bpnrdmq' frameborder='0' scrolling='no' sandbox='allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox')
                        textarea#g-recaptcha-response.g-recaptcha-response(name='g-recaptcha-response' style='width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;')
                        iframe(style='display: none;')
                    #validation_message_1_7.gfield_description.validation_message(aria-live='polite') The reCAPTCHA was invalid. Go back and try it again.
                .gform_footer.top_label
                input#gform_submit_button_1.gform_button.button(type='submit' value='Submit')


.o-wrapper(style="padding: 4rem 1rem 2rem; margin: 0; max-width: 800px;")
    .o-wrapper.o-wrapper--micro-lg.u-m-a-r
        #gform_wrapper_3.gf_browser_chrome.gform_wrapper
        form#gform_3(method='post' enctype='multipart/form-data' action='/?gf_page=preview&id=3')
            .gform_heading
            h3.gform_title Fatty Form
            span.gform_description
            .gform_body
            ul#gform_fields_3.gform_fields.top_label.form_sublabel_below.description_below
                li#field_3_1.gfield.field_sublabel_below.field_description_below.gfield_visibility_
                label.gfield_label.gfield_label_before_complex(for='input_3_1_3') Name
                #input_3_1.ginput_complex.ginput_container.no_prefix.has_first_name.no_middle_name.has_last_name.no_suffix.gf_name_has_2.ginput_container_name.gfield_trigger_change
                    span#input_3_1_3_container.name_first
                    input#input_3_1_3(type='text' name='input_1.3' value='' aria-label='First name' tabindex='2' aria-invalid='false')
                    label(for='input_3_1_3') First
                    span#input_3_1_6_container.name_last
                    input#input_3_1_6(type='text' name='input_1.6' value='' aria-label='Last name' tabindex='4' aria-invalid='false')
                    label(for='input_3_1_6') Last
                li#field_3_5.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible
                label.gfield_label(for='input_3_5') Message
                .ginput_container.ginput_container_textarea
                    textarea#input_3_5.textarea.medium(name='input_5' tabindex='6' aria-invalid='false' rows='10' cols='50')
                li#field_3_6.gfield.field_sublabel_below.field_description_below.gfield_visibility_
                label.gfield_label Untitled
                .ginput_container.ginput_container_checkbox
                    ul#input_3_6.gfield_checkbox
                    li.gchoice_3_6_1
                        input#choice_3_6_1(name='input_6.1' type='checkbox' value='First Choice' tabindex='7')
                        label#label_3_6_1(for='choice_3_6_1') First Choice
                    li.gchoice_3_6_2
                        input#choice_3_6_2(name='input_6.2' type='checkbox' value='Second Choice' tabindex='8')
                        label#label_3_6_2(for='choice_3_6_2') Second Choice
                    li.gchoice_3_6_3
                        input#choice_3_6_3(name='input_6.3' type='checkbox' value='Third Choice' tabindex='9')
                        label#label_3_6_3(for='choice_3_6_3') Third Choice
                li#field_3_7.gfield.field_sublabel_below.field_description_below.gfield_visibility_
                label.gfield_label Untitled
                .ginput_container.ginput_container_radio
                    ul#input_3_7.gfield_radio
                    li.gchoice_3_7_0
                        input#choice_3_7_0(name='input_7' type='radio' value='First Choice' tabindex='10')
                        label#label_3_7_0(for='choice_3_7_0') First Choice
                    li.gchoice_3_7_1
                        input#choice_3_7_1(name='input_7' type='radio' value='Second Choice' tabindex='11')
                        label#label_3_7_1(for='choice_3_7_1') Second Choice
                    li.gchoice_3_7_2
                        input#choice_3_7_2(name='input_7' type='radio' value='Third Choice' tabindex='12')
                        label#label_3_7_2(for='choice_3_7_2') Third Choice
                li#field_3_3.gfield.field_sublabel_below.field_description_below.gfield_visibility_
                label.gfield_label(for='input_3_3') Phone
                .ginput_container.ginput_container_phone
                    input#input_3_3.medium(name='input_3' type='tel' value='' tabindex='13' aria-invalid='false')
                li#field_3_2.gfield.field_sublabel_below.field_description_below.gfield_visibility_
                label.gfield_label(for='input_3_2') Date
                .ginput_container.ginput_container_date
                    input#input_3_2.datepicker.medium.mdy.datepicker_no_icon.hasDatepicker(name='input_2' type='text' value='' tabindex='14')
                input#gforms_calendar_icon_input_3_2.gform_hidden(type='hidden' value='https://local.jmilimousine.com/wp-content/plugins/gravity-forms/images/calendar.png')
                li#field_3_4.gfield.field_sublabel_below.field_description_below.gfield_visibility_
                label.gfield_label.gfield_label_before_complex(for='input_3_4_1') Address
                #input_3_4.ginput_complex.ginput_container.has_street.has_street2.has_city.has_state.has_zip.has_country.ginput_container_address.gfield_trigger_change
                    span#input_3_4_1_container.ginput_full.address_line_1
                    input#input_3_4_1(type='text' name='input_4.1' value='' tabindex='15')
                    label#input_3_4_1_label(for='input_3_4_1') Street Address
                    span#input_3_4_2_container.ginput_full.address_line_2
                    input#input_3_4_2(type='text' name='input_4.2' value='' tabindex='16')
                    label#input_3_4_2_label(for='input_3_4_2') Address Line 2
                    span#input_3_4_3_container.ginput_left.address_city
                    input#input_3_4_3(type='text' name='input_4.3' value='' tabindex='17')
                    label#input_3_4_3_label(for='input_3_4_3') City
                    span#input_3_4_4_container.ginput_right.address_state
                    input#input_3_4_4(type='text' name='input_4.4' value='' tabindex='19')
                    label#input_3_4_4_label(for='input_3_4_4') State / Province / Region
                    span#input_3_4_5_container.ginput_left.address_zip
                    input#input_3_4_5(type='text' name='input_4.5' value='' tabindex='20')
                    label#input_3_4_5_label(for='input_3_4_5') ZIP / Postal Code
                    span#input_3_4_6_container.ginput_right.address_country
                    select#input_3_4_6(name='input_4.6' tabindex='21')
                        option(value='' selected='selected')
                        option(value='Afghanistan') Afghanistan
                        option(value='Afghanistan') Gafghanistan
                    .gf_clear.gf_clear_complex
            .gform_footer.top_label
            input#gform_submit_button_3.gform_button.button(type='submit' value='Submit')
