header.m-head.o-flex.o-flex--center-y.o-flex__row.o-flex--split


    .m-head__item.m-head__item--branding.o-flex
        a.m-head__link.m-head__link--home(href="/")
            img.m-brand-img-mobile(src="http://placehold.it/40x40")
            img.m-brand-img(src="http://placehold.it/120x120")


    .m-head__item.m-head__item--nav-toggle.o-flex
        button.m-head__toggle.js-slide-left#jsMenuToggle
            i.icon-menu.m-head__icon
            span.m-head__text menu open/close


    .m-head__item.m-head__item--nav-primary.o-flex
        .js-slide-left
            include _navbar-primary


    .m-head__item.m-head__item--nav-secondary.o-flex
        include _navbar-secondary
