head

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title

    meta(name="description", content="")
    meta(name="viewport", content="width=device-width", initial-scale="1")

    link(rel="stylesheet", href="")
    link(rel="stylesheet", href="")
<<<<<<< HEAD:includes/_head.pug
    link(rel="stylesheet", href="../THEME_NAME/style.css")
=======
    link(rel="stylesheet", href="../THEME_NAME/assets/css/main.css")
>>>>>>> development:pug/includes/_head.pug
