.m-hero.m-bgi.o-flex.o-flex--col.o-flex--bottom(style="background-image:url('https://picsum.photos/2000/1000'); height: 75vh;")
    .m-hero__item
        h1.m-title.m-title--primary Hero Image Title
        p Bacon ipsum dolor amet ham t-bone prosciutto frankfurter salami ribeye biltong. Venison swine drumstick chislic, bresaola boudin sirloin strip steak pork chop turducken ham jowl. Beef ribs rump ground round pancetta boudin frankfurter.
