.js-slide-left
    nav.m-navbar.m-navbar--primary#siteNavigation(role="navigation")
        ul.m-navbar__menu#primary-menu(aria-expanded="false")
            li.m-navbar__menu-head-item
                a.m-navbar__link(href="#") Home
                
            li.js-dropdown.m-navbar__menu-item
                a.m-navbar__link(href="#") Services
                ul.m-navbar__sub-menu
                    li.m-navbar__menu-item
                        a.m-navbar__link(href="#") Service A
                    li.m-navbar__menu-item
                        a.m-navbar__link(href="#") Service B
                    li.m-navbar__menu-item
                        a.m-navbar__link(href="#") Service C

            li.m-navbar__menu-item
                a.m-navbar__link(href="#") About

            li.m-navbar__menu-item
                a.m-navbar__link(href="#") Contact
