.m-navbar.m-navbar--secondary
    ul.m-navbar__menu.m-navbar--action
        li.m-navbar__menu-item
            a.m-navbar__link(href="#", target="_blank")
                i.icon-location.m-navbar__icon
                span.m-navbar__text Address
        li.m-navbar__menu-item
            a.m-navbar__link(href="tel:#")
                i.icon-phone.m-navbar__icon
                span.m-navbar__text 555.555.5555



    ul.m-navbar__menu.m-navbar--social
        li.m-navbar__menu-item
            a.m-navbar__link(href="#")
                i.icon-facebook.m-navbar__icon
                span.m-navbar__text.u-hide Facebook
        li.m-navbar__menu-item
            a.m-navbar__link(href="#")
                i.icon-instagram.m-navbar__icon
                span.m-navbar__text.u-hide Instagram
        li.m-navbar__menu-item
            a.m-navbar__link(href="#")
                i.icon-twitter.m-navbar__icon
                span.m-navbar__text.u-hide Twitter
        li.m-navbar__menu-item
            a.m-navbar__link(href="#")
                i.icon-google-plus.m-navbar__icon
                span.m-navbar__text.u-hide Google Plus
        li.m-navbar__menu-item
            a.m-navbar__link(href="#")
                i.icon-youtube.m-navbar__icon
                span.m-navbar__text.u-hide YouTube
